/AirBnbClone/airbnb-clone/node_modules
/Instagram Clone/instagram-clone/node_modules
/Meme Generator/meme-generator/node_modules
/ReactSoloProject#1/solo-project1/node_modules
/ReactSoloProject#2/solo-project2/node_modules